.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

section input {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.word {
    display: block;
}

.underline {
    display: inline-flex;
    padding: 1rem;
    border-bottom: #222 solid 1px;
    margin: 0.2rem;
}

.letter {
    display: inline-flex;
    padding: 1rem;
    border: #222 solid 1px;
    &.hanging {
        top: 2rem;
        height: 2rem;
        position: relative;
    }
    &.tall {
        height: 2rem;
    }
}

.output {
    display: flex;
    justify-content: space-evenly;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 50vw;
}
